/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21-Nov-2022, 21:48:02
    Author     : Main
*/

body {
    font-weight: lighter;
}

.infocard {
    border: solid 1px;
}

.infocard .header {
    font-weight: bold;
}

.supplier_content {
    border: solid 1px;
}
