/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11-Nov-2022, 15:19:13
    Author     : Main
*/


form {
    min-width: 50%;
    max-width: 50%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    background: gainsboro;
    text-align: center;
}



h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}



.price {
    text-align: right;
}


#productImage {
    padding:0;
}

.centered {
    margin: auto;
    text-align: center;
}

input[type='number']{
    width: 50px;
}
#quantity {
    width: 50px;
}

#highlight {
    border: solid 1px red;
    background-color: yellow;
}

form {
    background-color: floralwhite;
}

.nav-link {
    align-items: center;
    display: flex;
}

/* DEBUG */
div {
    border:1px solid black;
}