/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11-Nov-2022, 15:19:13
    Author     : Main
*/

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #ff6666
}


#header-image {
    margin:auto;
    width:100%;
}

form{
    margin: auto;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}


#register {
    background-color: linen;
}

#register .col{
    min-width: 200px;
}



#register-select-location {
    margin: auto;
    max-width: 60%;
    min-width: 200px;
}




h2 {
    font-family: sans-serif;
    font-size: 1.5em;
}

h3 {
    color: #777;
    font-size: 1.25em;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.price {
    float: right;
    font-size: 1.5rem;
    vertical-align: bottom;
}


.supplier-name {
    text-align: right;
}

#productImage {
    padding:0;
}

.centered {
    margin: auto;
    text-align: center;
}

input[type='number']{
    width: 50px;
}


#quantityGroup {
    float: right;
    width:auto;
}
.quantityText {
    width: 45px;
}
.cart-subtotal {
    float:right;
    font-size: 1.5rem;
}

.sub-total {
    margin: .5rem;
    font-size: 1.5rem;
}


#carousel {
    margin:auto;
    width: 50%;
}


.navbar-header{
    text-align:center;
}

.navbar-toggle {
    text-align:center;
    float: none;
    margin-right:0;
}



#search-container{
    margin-top: auto;
    margin-bottom: 0px;
    text-align:right;
    clear:both;
    margin-right:0;
}




.nav-link {
    align-items: center;
    display: flex;
} 





.warning-text {
    color: red;
}



span border {
    border: red 1px solid;
}


#grandTotal {
    text-align:right;
    padding:1rem;
    /*float:right;*/
}


#leftcolumn, #rightcolumn {
    background-color: #F8F8F8;
}


#infocard-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}




.card {
    width: 18rem;
    background-color: #F8F8F8;
}

.supplier_content .card {
    width: 100%;
    background-color: #F8F8F8;
}


.supplier_content .form-check-input {
    margin-right: .5em;
}

.img-card-top {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.index-card {
    width: 11rem;
    background-color: #F8F8F8;
    margin: 2vh;
    cursor: pointer;
    /*transition: .3s;*/
}
/*.index-card:hover {opacity: 0.7;}*/

.index-card .img-card-top{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}


.button-wrapper .btn {
    margin-bottom:5px;
}

.quantity {
    vertical-align: middle;
}

#cart-item {
    padding: 1rem;
}

.cart-image-container {
    min-width: 286px;
    text-align: center;
}



#removeCartRow {
    float: right;
}

#removeCartItem {
    float: right;
    height: 10vh;
    width: 15vh;
    min-width: 112px;
    min-height: 75px;
}

#products-page-warning{
    margin: 2vh;
}
    
#footer {
    height: 4vh;
}



#sticky-cart {
    align-self: flex-start;
    padding: 0em 0em 0.5em 0em;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}



input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 1.5rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.subheading {
    font-family: sans-serif;
    font-size: 1.5em;
    color: #ccc;
}


.tooltip {
    z-index: 1000; /* keeps it under the modals */
}

/* DEBUG STUFF AFTER THIS POINT */
/*
.row {
    border:red 1px solid;
}


span {
    border:yellow 1px solid;
}

.col {
    border:blue 1px solid;
}

div {
    border:1px solid black;
}

form {
    border:1px dashed red;
}

#navbar {
    background-color: lavender;
}
.container{
    border: 1px dashed yellow;
    width:100%;
}

#leftcolumn{
    background-color: green;
}


#rightcolumn{
    background-color: yellow;
}



*/