<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Products</title>
    </head>
    
    
    <body>
        <div class="container">
            <!-- NAVBAR -->
            <div th:replace="navbar :: navbar"></div>
            
            
            <div class="row"> <!-- OUTER ROW -->
                <!-- LEFT COLUMN -->
                <div th:replace="fragments :: leftcolumn"></div>
                
                
                <!-- CONTENT -->
                <div class="col">
                    
                    <th:block th:with="locationName=${locationName}, category=${category}">

                        <h1 th:text="${category}"></h1>
                        <div th:unless="${locationName} == none">
                            <h3 th:text="'in ' +${locationName}"></h3>
                        </div>
                        
                        <div th:if="${status} == 'invalid'">
                            <div th:unless="${#lists.isEmpty(results)}">
                                <div class="border border-danger" id="products-page-warning">
                                    <b class="warning-text"> You are not logged in as a customer. You will not be able to purchase any products!</b>
                                    <br/>
                                    <a class="btn btn-primary btn-lg" href="/login">Login</a>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <!-- /* CATEGORIES RESULTS */ -->
                        <div th:replace="fragments :: categories"></div>
                        
                        <!-- NO RESULTS -->
                        <div th:if="${#lists.isEmpty(results)}">
                            <h3>There are no products matching this filter.</h3>
                        </div>
                    </th:block>
                </div> <!-- / CONTENT -->
                
                
                <!-- RIGHT COLUMN -->
                <div th:replace="fragments :: rightcolumn"></div>
            </div>  <!-- /OUTER ROW -->
        </div> <!-- /CONTAINER -->
        
        <!-- javascript -->
        <script src="/js/processing.js"></script>
        <div th:insert="fragments :: footer"></div>
        
    </body>
</html>
