<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers (pageTitle='Deliveries', pageDescription='List of your outstanding deliveries.')"></head>
    
    <body>
        <div class="container">
            <div th:replace="navbar :: navbar"></div>
            
            
            <div class="row">
                
                <!-- COLUMN -->
                <div th:replace="fragments :: leftcolumn"></div>
                
                    <!-- CONTENTS -->
                    <div class="col">
                    <div th:switch="${valid}">
                        <th:block th:case="false">
                            <h1>Access Denied!</h1>
                        </th:block>
                        <th:block th:case="true">
                            <h3 th:with="driverName = ${driverName}"> [[${driverName}]] </h3>
                            <h1> Your Deliveries </h1>
                            
                            <div>
                                <button class="reload" onclick=window.location.reload()> Refresh </button>
                            </div>
                            
                            
                            <th:block th:each="order : ${orders}" th:if="${orders!=null and !orders.empty}">
                                <div th:replace="fragments :: delivery-card"></div>
                            </th:block>
                            
                            
                            <div th:if="${#lists.isEmpty(orders)}">
                                <h3>Your cart is currently empty.</h3>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div th:replace="fragments :: rightcolumn"></div>
            </div>
        </div>
        
        <!-- javascript -->
        <script src="/js/processing.js"></script>
        <div th:replace="fragments :: footer"></div>
    </body>
</html>
