<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Deliveries</title>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div th:switch="${valid}">
                        <th:block th:case="true">
                            <h1> Your Deliveries </h1>
                            <div>
                                <button class="reload" onclick=window.location.reload()> Refresh </button>
                            </div>
                            <th:block th:each="order : ${orders}" th:if="${orders!=null and !orders.empty}">
                                <div <div class="infocard">
                                    <!-- ORDER INFO -->
                                    <div class="col">
                                        <div class="row">
                                            <h2 th:text="'Order id : ' + ${order.id}"></h2>
                                        </div>

                                        <!-- SUPPLIER ADDRESS -->
                                        <div class="row">
                                            <div class="col">
                                                <b class="header"> Suppliers: </b>
                                                <br/>
                                                <div class="supplier_content">
                                                    <th:block th:each="supplier : ${order.getSuppliers()}" >
                                                        <b th:text="${supplier.storeName}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().addressLine1}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().addressLine2}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().city}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().district}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().postcode}"></b>
                                                    </th:block>
                                                </div>
                                                <!-- add some space after each supplier -->
                                                <br/>
                                            </div>

                                        <!-- CUSTOMER ADDRESS -->
                                        <div class="col">
                                            <b class="header"> To: </b>
                                            <br/>
                                            <span>
                                                <b th:text="${order.customer.firstName}"></b>
                                                <b th:text="${order.customer.surname}"></b>
                                            </span>
                                            <br/>
                                                <b th:text="${order.customer.address.addressLine1}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.addressLine2}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.city}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.district}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.postcode}"></b>
                                            <br/>
                                        </div>

                                        <div class="col">
                                            <button class="button_MarkAsDelivered" th:attr="onclick=|confirmMarkAsDelivered('${order.id}')|">Mark as Delivered</button>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <div th:if="${#lists.isEmpty(orders)}">
                                <h3>Your cart is currently empty.</h3>
                            </div>
                        </th:block>
                        <th:block th:case="false">
                            <h1>Access Denied!</h1>
                        </th:block>
                    </div>
                </div>


            </div>
        </div>
        
        <!-- javascript -->
        <script src="/js/processing.js"></script>
        <div th:replace="fragments :: footer"
    </body>
</html>
