<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    
    <body>
        <div class="row">
                
        <!-- COLUMN -->
        <div th:fragment="leftcolumn" class="col-1 d-none d-sm-block" id="leftcolumn"></div>
        
        <!-- COLUMN -->
        <div th:fragment="rightcolumn" class="col-1 d-none d-sm-block" id="rightcolumn"></div>
        
        
        
        <!-- HEADER INFO -->
        <div th:fragment="headers">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--/* <title th:text="${page-title}"></title>  // to use this we would need to make page-title an object on each page */-->
            
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
            
            
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

            <!-- SimpleLightbox plugin CSS-->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

            
            <!-- BOOTSTRAP -->
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            
            <!-- Bootstrap Icons-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
            
            <!-- CUSTOM CSS -->
            <link href="css/styles.css" rel="stylesheet" />
        </div>
        
        
        
        
        <!-- CAROUSEL -->
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" th:fragment="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" data-bs-interval="5000">
                <img src="../assets/img/products/categories/harper-sunday-uRuF9ABj0NY-unsplash.jpg" href="/Accessories" class="d-block w-100" alt="Accessories">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Accessories</h5>
                    <p>New inventory added to accessories in Dublin.</p>
                </div>
              </div>
              <div class="carousel-item active" data-bs-interval="5000">
                <img src="../assets/img/products/categories/lan-deng-quddu_dZKkQ-unsplash.jpg" href="/clothes" class="d-block w-100" alt="Clothes">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Trousers</h5>
                    <p>Special offers on select trousers in the South East.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        
        
        
        
        <th:block th:fragment="categories">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <th:block th:each="product : ${results}">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card mx-auto">
                            <img th:alt="${product.getProductName()}" class="img-card-top" th:src="${image_directory + product.getImage()}">   
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.getProductName()}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="'From ' +${product.getSupplier().getStoreName()}"></h6>
                                <p class="card-text" th:text="${product.getProductDescription()}"></p>
                                <a class="btn btn-primary" th:href="'productpage?identifier='+${product.getIdentifier()}">See Details</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
        
        
        
        <!-- INDEX CARDS -->
        <div class="card index-card" th:fragment="index-card" data-toggle="tooltip" data-placement="top" th:title="${product.getProductName() + '&#10; from ' + product.getSupplier().getStoreName()}" th:with="preString = ${'calcIndex('}, uid = ${ 'indexSubtotal' + product.id}">
            
            <!--/* the th:attr below runs calcIndex(id, price, 1) as soon as you click the item */-->
            <img id="index-image" th:alt="${product.getProductName()}" class="img-card-top" th:src="${image_directory + product.getImage()}" data-bs-toggle="modal" th:data-bs-target="'#quick-look' + ${product.id}" th:attr="onclick=|${preString}| + '\'' + |${uid}| + '\'' + ',' +${product.price} +', 1)'">
            
            <!-- Modal -->
            <div class="modal fade" th:id="'quick-look' + ${product.id}" tabindex="-1" th:aria-labelledby="${product.getProductName()}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${product.getProductName()}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    
                  <div class="modal-body">
                    <!-- PRODUCT IMAGE -->
                    <div class="row">
                        <div class="col" id="product-image-container">
                            <img id="product-image" th:alt="${product.getProductName()}" class="img-fluid" th:src="${image_directory + product.getImage()}">
                        </div>
                        <div class="col">
                            <h2 th:text="'from ' + ${product.getSupplier().getStoreName()}"></h2>
                            
                            <div class="row">
                                <div th:insert="fragments :: add-to-cart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p th:text="${product.productDescription}"></p>
                        </div>
                    </div>
                  </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" th:with="productPage = 'location.href=\'productpage?identifier=' + ${product.getIdentifier()} + '\''" th:attr="onclick=|${productPage}|">View Product</button> 
                    </div>
                </div>
              </div>
            </div>
        </div>
        
        
        
        
        <!-- PRODUCT PAGE -->
        <th:block th:fragment="productInfoFragment">
            <div th:with="product = ${product}">
                
                <!-- PRODUCT NAME -->
                <div class="row">
                    <h2 th:text="${product.getProductName()}"></h2>
                    <!-- SUPPLIED BY... -->
                    <h3 class="supplier-name" th:text="'supplied by ' + ${product.getSupplier().getStoreName()}"></h3>
                </div>
                
                
                <div class="row">
                    <!-- PRODUCT IMAGE -->
                    <div class="col" id="product-image-container">
                        <img id="product-image" th:alt="${product.getProductName()}" class="img-fluid" th:src="${image_directory + product.getImage()}">
                    </div>
                    
                    
                    <!-- PRODUCT DESCRIPTION -->
                    <div class="col">
                        <div class="row">
                            <p th:text="${product.getProductDescription()}"></p>
                        </div>
                        
                        <!-- PRODUCT QUANTITY / ADD TO CART -->
                        <div th:insert="fragments :: add-to-cart"></div>
                    </div>
                </div>
            </div> <!-- END OF PRODUCT PAGE -->
        </th:block>
        
        
        
        
        <!-- ADD TO CART FRAGMENT -->
        <div th:fragment="add-to-cart">
            <div class="row">
                <h4>Price: €[[${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 2, 'POINT')}]]</h4> <!--/* the price here is formatted for 2 decimal places */-->
            </div>
            
            <!--/* if we are NOT A CUSTOMER... */-->
            <div th:unless="${userRole == 'CUSTOMER'}">
                <p class="warning-text">You must be logged in as a customer to add items to your cart!</p>
                <div class="centered">
                    <br/>
                    <a class="btn btn-primary btn-lg" href="/login">Login</a>
                </div>
            </div>
            
            <!--/* if we ARE a CUSTOMER... */-->
            <div th:if="${userRole} == 'CUSTOMER'">
                
                 <!--/* IF THE PRODUCT IS ALREADY IN OUR CART */-->
                <div th:if="${isProductInCart}">
                    <p>This item is already in your cart.</p>
                    <div class="centered">
                        <br/>
                        <a class="btn btn-primary btn-lg" href="/cart">Go To Cart</a>
                    </div>
                </div> <!--/* /case for isProductInCart = true */-->
                
                
                <!--/* IF THE PRODUCT IS __NOT__ ALREADY IN OUR CART */-->
                <div th:unless="${isProductInCart}">
                    <p th:text="'In Stock: ' + ${product.getStock()} "> </p>
                    
                    <!--/* IF THE PRODUCT IS OUT OF STOCK */-->
                    <div th:if="${product.getStock()} == 0">
                        <p class="warning-text"> This product is currently out of stock. </p>
                    </div>
                    
                    
                    <!--/* IF THE PRODUCT IS IN STOCK */-->
                    <div th:if="${product.getStock()} > 0" th:with="uid = ${ 'indexSubtotal' + product}">
                        <!-- ADD TO CART FORM -->
                        <form id="purchase-form" action="/addCartItem?"
                        +"&customerID="+customerID
                        +"&productID=" +productID
                        +"&quantity=" +quantity
                        method="post"}>
                                <input type="hidden" id="customer" name="customerID" th:value="${customerId}" >
                                <input type="hidden" id="product" name="productID" th:value="${product.getId()}">
                                <input type="hidden" id="price" th:value="${product.getPrice()}">
                                <label for="fname"><h5>Quantity:</h5></label>
                                
                                
                                <!--/* here we need different behaviours depending on the page we're on */-->
                                <!--/* Not on the index page */-->
                                <div th:if="${isIndex} == null">
                                    <div class="number-input">
                                        <button type="number" class="minus" data-type="minus" field=""></button>
                                        <input class="quantity" id="quantity" min="1" name="quantity" value="1" type="number" >
                                        <button type="number" class="plus" data-type="plus" field=""></button>
                                    </div>
                                </div>
                                
                                <!--/* On the index page */-->
                                <!--/* The following th:with concatenates a lot of arguments together in order to pass a javascript method the uid (unique id for this item) */-->
                                <div th:if="${isIndex} == true"
                                     th:with="
                                     stepDownString = ${'this.parentNode.querySelector(''input[type=number]'').stepDown(); event.preventDefault(); calcIndex('}
                                     ,stepUpString = ${'this.parentNode.querySelector(''input[type=number]'').stepUp(); event.preventDefault(); calcIndex('}
                                     ">
                                    
                                    <div class="number-input">
                                        <button th:attr="onclick=|${stepDownString}| + '\'' + |${uid}| + '\'' + ', price.value, quantity.value)'" class="minus"></button>
                                        <input class="quantity" id="quantity" min="1" name="quantity" value="1" type="number" >
                                        <button th:attr="onclick=|${stepUpString}| + '\'' + |${uid}| + '\'' + ', price.value, quantity.value)'" class="plus"></button>
                                    </div>
                                </div>
                                
                                
                                <!-- SUBTOTAL -->
                                <div class="sub-total">
                                    
                                    <div th:if="${isIndex} == null">
                                        <span >Total: €</span><span id="subtotal"></span>
                                    </div>
                                    
                                    <div th:if="${isIndex} == true">
                                        <span th:id="${uid}" >Total: €</span>
                                    </div>
                                </div>
                                

                              <input type="submit" class="btn btn-warning" value="Add to Cart">
                        </form>
                    </div> <!--/* / is in stock */-->
                </div>
            </div> <!--/* /case = "CUSTOMER" */-->
        </div>
        
        
        
        
        
        <!-- SUPPLIER FULFILMENT CARD -->
        <th:block th:fragment="fulfilment-card">
            <div class="col" id="infocard-container" th:with="date = ${subOrder.order.getDate()}">
                <h2 th:text="'For Order #: ' + ${subOrder.order.id}"></h2>
                <h3 th:text="'SubOrder #: ' + ${subOrder.id}"></h3>
                <h6 th:unless="${date == null}" th:text=" 'Ordered: ' + ${subOrder.order.getDate()} + ' at ' + ${subOrder.order.getTime()} "> </h6>
                <h5 th:text="'Customer Name: ' + ${subOrder.order.customer.firstName} + ' ' + ${subOrder.order.customer.surname}"> </h5>
                <p class="customer-address" th:text="'Address: ' + ${subOrder.order.customer.getAddress().getFullAddress()}"> </p>
                <h6 th:text="'Expected driver: ' + ${subOrder.order.driver.firstName} + ' ' + ${subOrder.order.driver.surname}"> </h6>
                
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <th:block th:each="subOrderItem : ${subOrder.items}">   <!--/* start of iteration */-->
                        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                            <div class="card mx-auto">

                                <div class="card-body">
                                    <div class="row">
                                        <!-- CHECKBOX -->
                                        <div class="col-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            </div>
                                        </div>


                                        <!-- TITLE -->
                                        <div class="col">
                                            <h5 class="card-title" th:text="${subOrderItem.product.productName}"></h5>
                                        </div>


                                    </div>

                                    <!-- QUANTITY -->
                                    <h5 th:text="x + ${subOrderItem.quantity}"></h5>
                                        <div class ="button-wrapper">
                                            <a class="btn btn-primary mr-1" th:href="'productpage?identifier='+${subOrderItem.product.getIdentifier()}">See Details</a>
                                            <a class="btn btn-danger" th:href="'productpage?identifier='+${subOrderItem.product.getIdentifier()}">Cancel Item</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </th:block> <!--/* end of iteration */-->
                </div>
            </div>

            <!-- MARK AS READY -->
            <div class="row">
                <div class="col">
                    <button class="btn btn-warning" style="float:right" th:attr="onclick=|confirmMarkAsReady('${subOrder.id}','${subOrder.order.id}')|">Mark as Ready</button>
                </div>
            </div>
            <br/>
        </th:block> <!--/* END OF FULFILMENT-CARD */-->
        
        
        
        
        
        
        
        
        <!-- DRIVER DELIVERY INFOCARDS -->
        <th:block th:fragment="delivery-card">
            <div id="infocard-container">
                <!-- ORDER INFO -->
                <div class="col">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <h2 th:text="'Order ID : ' + ${order.id}"></h2>
                    </div>
                    
                    <!-- SUPPLIER ADDRESS -->
                    <div class="row">
                        <div class="col">
                            <b class="header"> Suppliers: </b>
                            <br/>
                            
                            
                            
                            <div class="row">
                                <div class="supplier_content">
                                    <th:block th:each="supplier : ${order.getSuppliers()}" >    <!--/* start of iteration */-->
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <b th:text="${supplier.storeName}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().addressLine1}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().addressLine2}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().city}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().district}"></b>
                                                        <br/>
                                                        <b th:text="${supplier.getAddress().postcode}"></b>
                                                        <br/>
                                                        <br/>
                                                    </div>


                                                    <!-- ORDER PRODUCTS -->
                                                    <div class="col">
                                                        <b class="header"> Contents: </b>
                                                        <br/>
                                                        <div class="product_contents">
                                                            <th:block th:each="orderItem : ${order.getItems()}" >
                                                                <th:block th:each="product : ${orderItem.getProduct()}" >
                                                                    <b th:if="${product.getSupplier == supplier}">
                                                                        
                                                                        <!-- CHECKBOX -->
                                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" th:text=" ${orderItem.getQuantity} + ' x ' +  ${product.getProductName}">
                                                                        <br/>
                                                                    </b>
                                                                </th:block>
                                                            </th:block>
                                                        </div>
                                                    </div>
                                                </div> <!-- end of row -->
                                            </div>
                                        </div>
                                    </th:block>    <!--/* end of iteration */-->
                                </div> <!-- End of supplier_content -->
                            </div>
                        </div>
                        
                        <!-- CUSTOMER ADDRESS -->
                        <div class="col"> <!-- Right-hand column -->
                            <br/>
                            <div class="row">
                                <div class="col">
                                    <b> To: </b>
                                    <br/>
                                    <div class="card">
                                        <div class="card-body">
                                            <span>
                                                <b th:text="${order.customer.firstName}"></b>
                                                <b th:text="${order.customer.surname}"></b>
                                            </span>
                                            <br/>
                                                <b th:text="${order.customer.address.addressLine1}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.addressLine2}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.city}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.district}"></b>
                                            <br/>
                                                <b th:text="${order.customer.address.postcode}"></b>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <!-- Google Maps API -->
                                <div class="col" th:with="customerAddress = ${order.getCustomer().getAddress().getFullAddress()}">
                                    <div class="container">
                                        <iframe
                                        class="responsive-iframe"
                                        width="100%"
                                        height="250"
                                        frameborder="0"
                                        style="border:0"
                                        allowfullscreen
                                        referrerpolicy="no-referrer-when-downgrade"
                                            th:src="${
                                                'https://www.google.com/maps/embed/v1/directions?key=AIzaSyALT3yXsFTUtCLKH_zNEW8YgC_4D37lsek
                                                &origin=' + driverAddress +
                                                '&destination=' + customerAddress +
                                                '&avoid=tolls'}">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            
                            <div class="row">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-primary" th:attr="onclick=|confirmMarkAsDelivered('${order.id}')|">Mark as Delivered</button>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-danger" th:attr="onclick=|confirmReturnedByCustomer('${order.id}')|">Returned by Customer</button>
                                </div>
                            </div>
                            
                        </div><!-- End of right-hand column -->

                        </div>
                    </div>
                </div>
            <br/>
        </th:block>  <!--/* END OF DELIVERY-CARD */-->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- FOOTER -->
        <div th:fragment="footer">
            <div class="row" id="footer"></div>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        </div>
    </body>
</html>
