<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers (pageTitle='Fulfilments', pageDescription='List of your outstanding orders from Storeii.')"></head>
    
    
    <body>
        <div class="container">
            <div th:replace="navbar :: navbar"></div>
            
            
            <div class="row">
                
                <!-- COLUMN -->
                <div th:replace="fragments :: leftcolumn"></div>
                
                    <!-- CONTENTS -->
                    <div class="col">
                        <div th:switch="${valid}">
                            <th:block th:case = "false">
                                <h1> Access Denied! </h1>
                            </th:block>

                            <th:block th:case = "true">
                                <h3 th:with="storeName = ${storeName}"> [[${storeName}]] </h3>
                                <h1> Your Orders </h1>
                                
                                <!-- REFRESH CONTENTS -->
                                <div>
                                    <button class="reload" onclick=window.location.reload()> Refresh Orders List </button>
                                </div>
                                <br/>
                                
                                <!-- CONTENTS -->
                                <th:block th:each="subOrder : ${subOrders}">
                                    <div th:replace="fragments :: fulfilment-card"></div>
                                </th:block>
                                
                                
                                
                                <div th:if="${#lists.isEmpty(subOrders)}">
                                    <h3>No orders to be fulfilled.</h3>
                                </div>
                            </th:block> <!-- / case="true" -->
                        </div> <!-- / switch -->
                    </div>


                <div th:replace="fragments :: rightcolumn"></div>
            </div>
        </div>
        
        <!-- javascript -->
        <script src="/js/processing.js"></script>
        <div th:insert="fragments :: footer"
        
    </body>
</html>
