<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Fulfilments</title>
    </head>
    
    
    <body>
        <div class="container">
            <div class="row" id="fulfilments">
                <div class="col-2" id="leftside"></div>

                    <div class="col">
                        
                        <div th:replace="navbar :: navbar"></div>
                        
                        <div th:switch="${valid}">
                            <th:block th:case = "false">
                                <h1> Access Denied! </h1>
                            </th:block>

                            <th:block th:case = "true">

                                <h1> Fulfilments </h1>

                                <div>
                                    <button class="reload" onclick=window.location.reload()> Refresh </button>
                                </div>
                                <th:block th:each="subOrder : ${subOrders}">
                                    <div class="info_card">
                                        <!-- ORDER INFO -->
                                        <div>
                                            <!-- Order id column -->
                                            <div class="col">
                                                <h2 th:text="'For Order # ' + ${subOrder.order.id}"></h2>
                                            </div>

                                            <!-- products and quantity rows -->
                                            <div class="col" th:each="subOrderItem : ${subOrder.items}">
                                                <b th:text="${subOrderItem.product.productName}"></b>
                                                <b th:text="x + ${subOrderItem.quantity}"></b>
                                            </div>

                                            <div class="col">
                                                <button class="button_MarkAsReady" th:attr="onclick=|confirmMarkAsReady('${subOrder.id}','${subOrder.order.id}')|">Mark as Ready</button>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>

                                <div th:if="${#lists.isEmpty(subOrders)}">
                                    <h3>No orders to be fulfilled.</h3>
                                </div>
                            </th:block> <!-- / case="true" -->
                        </div> <!-- / switch -->
                    </div>


                <div class="col-2" id="rightside"></div>
            </div>
        </div>
        
        <!-- javascript -->
        <script src="/js/processing.js"></script>
        <div th:insert="fragments :: footer"
        
    </body>
</html>
