<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Index</title>
    </head>
    
    
    <body>
        <div class="container">
            <div th:replace="navbar :: navbar"></div>
            
            <div class="row">
                <!-- COLUMN -->
                <div th:replace="fragments :: leftcolumn"></div>
                
                <!-- CONTENT -->
                <div class="col">
                    <!-- subheading -->
                    <div th:unless="${customer == null}">
                        <p class='subheading' th:text="'Welcome ' + ${customer.getFirstName()}"></p>
                        <p class='subheading' th:text="'Showing products for ' + ${customer.getLocation().getLocationName()}"></p>
                    </div>
                    
                    <!-- COATS -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Coats">Coats</a></h2>
                    <div class="container-fluid">
                        <div class="row">
                            <th:block th:each="product : ${coats}">
                                <div th:replace="fragments :: index-card"></div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                    <!-- Clothing -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Clothing">Clothes</a></h2>
                    <div class="container-fluid">
                        <div class="row">
                            <th:block th:each="product : ${clothing}">
                                <div th:replace="fragments :: index-card"></div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                    <!-- Shoes -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Shoes">Shoes</a></h2>
                    <div class="container-fluid">
                        <div class="row">
                            <th:block th:each="product : ${shoes}">
                                <div th:replace="fragments :: index-card"></div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                    
                    <!-- Accessories -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Accessories">Accessories</a></h2>
                    <div class="container-fluid">
                        <div class="row">
                            <th:block th:each="product : ${accessories}">
                                <div th:replace="fragments :: index-card"></div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                </div> <!-- CONTENT -->
                
                <!-- COLUMN -->
                <div th:replace="fragments :: rightcolumn"></div>
            </div> <!-- OUTER ROW) -->
            
            
        </div> <!-- CONTAINER -->
        
        
        
        <div th:replace="fragments :: footer"></div>
        <!-- javascript -->
        <script src="/js/tooltips.js"></script>
        <script src="/js/calculations.js"></script>
    </body>
</html>
