<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Index</title>
    </head>
    
    
    <body>
        <div class="container">
            <div th:replace="navbar :: navbar"></div>
            
            <div class="row">
                <!-- COLUMN -->
                <div class="col-2" id="leftside"></div>
                
                <!-- CONTENT -->
                <div class="col">
                    <!-- subheading -->
                    <span th:unless="${customer == null}">
                        <p class='subheading' th:text="'Welcome ' + ${customer.getFirstName()}"></p>
                        <p class='subheading' th:text="'Showing products for ' + ${customer.getLocation().getLocationName()}"></p>
                    </span>
                    
                    <!-- COATS -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Coats">Coats</a></h2>
                    <div class="container-fluid">
                        <div class="row">
                            <th:block th:each="product : ${coats}">
                                <div class="card index-card" data-toggle="tooltip" data-placement="top" th:title="${product.getProductName() + '&#10; from ' + product.getSupplier().getStoreName()}">
                                    <img id="index-image" th:alt="${product.getProductName()}" class="img-card-top" th:src="${image_directory + product.getImage()}"> 
                                    
                                    <!--/* we could call the model on-click here and in the model have the fragment */-->
                                    <!--/* <div th:replace="fragments :: productInfoFragment"></div> */-->
                                    
                                    <a th:href="'productpage?identifier='+${product.getIdentifier()}" class="stretched-link"></a>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                    <!-- Clothing -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Clothing">Clothes</a></h2>
                    <div class="container-fluid">
                        <div class="row flex-nowrap overflow-auto">
                            <th:block th:each="product : ${clothing}">
                                <div class="card index-card" data-toggle="tooltip" data-placement="top" th:title="${product.getProductName() + '&#10; from ' + product.getSupplier().getStoreName()}">
                                    <img id="index-image" th:alt="${product.getProductName()}" class="img-card-top" th:src="${image_directory + product.getImage()}"> 
                                    <a th:href="'productpage?identifier='+${product.getIdentifier()}" class="stretched-link"></a>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                    <!-- Shoes -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Shoes">Shoes</a></h2>
                    <div class="container-fluid">
                        <div class="row flex-nowrap overflow-auto">
                            <th:block th:each="product : ${shoes}">
                                <div class="card index-card" data-toggle="tooltip" data-placement="top" th:title="${product.getProductName() + '&#10; from ' + product.getSupplier().getStoreName()}">
                                    <img id="index-image" th:alt="${product.getProductName()}" class="img-card-top" th:src="${image_directory + product.getImage()}"> 
                                    <a th:href="'productpage?identifier='+${product.getIdentifier()}" class="stretched-link"></a>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                    
                    <!-- Accessories -->
                    <br/>
                    <br/>
                    <h2><a href="/category?category=Accessories">Accessories</a></h2>
                    <div class="container-fluid">
                        <div class="row flex-nowrap overflow-auto">
                            <th:block th:each="product : ${accessories}">
                                <div class="card index-card" data-toggle="tooltip" data-placement="top" th:title="${product.getProductName() + '&#10; from ' + product.getSupplier().getStoreName()}">
                                    <img id="index-image" th:alt="${product.getProductName()}" class="img-card-top" th:src="${image_directory + product.getImage()}"> 
                                    <a th:href="'productpage?identifier='+${product.getIdentifier()}" class="stretched-link"></a>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    
                    
                </div> <!-- CONTENT -->
                
                <!-- COLUMN -->
                <div class="col-2"id="rightside"></div>
            </div> <!-- OUTER ROW) -->
            
            
        </div> <!-- CONTAINER -->
                
        
        <!-- MODAL -->
        <div id="product-lightbox" class="modal">
            <span class="close">&times;</span>
            <!--/* <div id="modal-content" th:replace="fragments :: productInfoFragment"></div> */-->
            <div id="caption"></div>
        </div>
        
        <div th:replace="fragments :: footer"></div>
        <!-- javascript -->
        <script src="/js/tooltips.js"></script>
    </body>
</html>
