<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <th:block fragment="locations">
            <h1 th:text="${heading}"></h1>
            <select select th:field="*{locations}" >
                <option value="">Choose a Location</option>
                <option th:each="location : ${locations}"
                        th:value="${location}"
                        th:text="${location.getLocationName()}"></option>
            </select>
        </th:block>
    
    
        <div th:insert="footer :: foot"></div>
    </body>
</html>
