<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers (pageTitle='Order Placed', pageDescription='Your Order with Storeii has been placed successfully!')"></head>
    
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-2" id="leftside"></div>
                <div class="col">
                    <br/>
                    <br/>
                    <h1 class = "centered"> Thank you! Your order has been placed! </h1>
                    <br/>
                    <br/>
                    <p class = "centered"> <a class="btn btn-primary btn-lg" href="/index">Return to Home</a> </p>
                </div>
                <div class="col-2"id="rightside"></div>
            </div>

            <div th:replace="fragments :: footer"
        </div>
    </body>
</html>
