<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Registration Successful</title>
    </head>
    <body>
        <div class="container">
            <div class="col">
                <div th:replace="fragments :: navbar"></div>
            </div>
            
            <div class="row">
                <!-- COLUMN -->
                <div class="col-2" id="leftside"></div>
                
                
                <!-- CONTENT -->   
                <div class="column>
                    <h1>Registration Successful!</h1>
                    <br />
                    <p>You can now login:</p>
                    <a class="btn btn-primary btn-lg" href="/login">Go to Login Page</a>
                </div>
                
                
                <!-- COLUMN -->
                <div class="col-2" id="rightside"></div>
            </div>
            
        </div>
    </body>
</html>
