<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers (pageTitle='Register', pageDescription='Register with Storeii, your local e-commerce giant.')"></head>
    
    
    <body>
        <div class="container">
            <!-- NAVBAR -->
            <div th:replace="navbar :: navbar"></div>
            
            
            <div class="row"> <!-- OUTER ROW -->
                <!-- LEFT COLUMN -->
                <div th:replace="fragments :: leftcolumn"></div>
                
                
                <!-- CONTENT -->
                <div class="col"></div> <!-- spacer -->
                <div class="col-8 col-sm-9 col-md-7 col-lg-6 col-xl-5"> <!-- forms col -->
                    <form id="register" class="login-form"
                          action="/addUserCustomer?"
                          +"&firstName="+firstName
                          +"&surname=" +surname
                          +"&userName=" +userName
                          +"&userPass=" +userPass
                          +"&addressLine1="+addressLine1
                          +"&addressLine2="+addressLine2
                          +"&city="+city
                          +"&district="+district
                          +"&postcode="+postcode
                          +"&country"+country
                          method="POST">

                        <div class="row">
                            <div class="col">
                                <h2>Account Details</h2>
                                 <!-- USERNAME -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" name="userName" id="userName" required>
                                </div>

                                <!-- FIRST NAME -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="FirstName" name="firstName" id="firstName" required>
                                </div>

                                <!-- LAST NAME -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="LastName" name="surname" id="surname" required>
                                </div>

                                <!-- PASSWORD -->
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Password" id="userPass" name="userPass" required>
                                </div>

                                <!--/* CONFIRM PASSWORD
                                  -- Note: we only submit elements with a name tag. "confirmPassword" has
                                  -- no name tag and will not be submitted, it's just for validation.
                                  */-->
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="ConfirmPassword" id="confirmPassword" required>
                                </div>

                                <br />
                            </div>



                            <!-- ADDRESS -->
                            <div class="col">
                                <h2>Address Details</h2>
                                <input type="text" class="form-control" placeholder="Address Line 1" id="addressLine1" name="addressLine1" required>
                                <input type="text" class="form-control" placeholder="Address Line 2" id="addressLine2" name="addressLine2" required>
                                <input type="text" class="form-control" placeholder="City" id="city" name="city" required>
                                
                                <!-- COUNTY DROPDOWN MENU -->
                                <span> County:
                                    <select id="county" name="district">
                                        <option th:each="county : ${counties}" th:value=${county.getCounty()} th:text=${county.getCounty()}></option>
                                    </select>
                                    <!-- <input type="text" class="form-control" placeholder="County" id="county" name="district" required> -->
                                    <span></span>
                                <input type="text" class="form-control" placeholder="Eircode" id="postcode" name="postcode" required>

                                <div hidden="true">
                                    <input class="form-check-input" type="radio" name="country" id="country" value="Ireland" checked> 
                                    <label class="form-check-label" for="flexRadioDefault4">
                                    Ireland
                                    </label>
                                </div>

                                <br />
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col">
                                <!-- SUBMIT OR BACK TO LOGIN -->
                                <br />
                                <button class="btn btn-lg btn-danger btn-block" type="submit">Register</button>
                                <br />
                                <br />
                                <a th:href="@{/login}" class="btn btn-lg btn-primary btn-block">Login Instead</a>
                            </div>
                        </div>
                    </form>
                </div> <!-- /forms col -->
                <div class="col"></div> <!-- spacer -->

                <!-- RIGHT COLUMN -->
                <div th:replace="fragments :: rightcolumn"></div>
            </div>  <!-- /OUTER ROW -->
        </div> <!-- /CONTAINER -->
        
        <!-- javascript -->
        
        <div th:insert="fragments :: footer"></div>
        <script src="/js/register.js"></script>
    </body>
</html>
