<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Login / Registration</title>
    </head>
    
    
    <body onload="calculate()">
        <div class="container">
            <div th:replace="navbar :: navbar"></div>
            <div class="row">
                <div class="col-2" id="leftside"></div>
                
                <div class="col" id="content">
                    
                    <div class="row">
                        <div class="col-2">
                            <a class="btn btn-primary btn-lg" href="/login">Login</a>
                        </div>
                        
                        
                        <div class="col">
                            <form id="register" class="login-form"
                                  action="/addUserCustomer?"
                                  +"&firstName="+firstName
                                  +"&surname=" +surname
                                  +"&userName=" +userName
                                  +"&userPass=" +userPass
                                  +"&location=" +location
                                  +"&addressLine1="+addressLine1
                                  +"&addressLine2="+addressLine2
                                  +"&city="+city
                                  +"&district="+district
                                  +"&postcode="+postcode
                                  +"&country"+country
                                  method="POST"> <!-- th:object="${user}" method="POST" enctype="utf8"> -->

                                <div class="col-4">
                                    <h2>Account Details<h2>
                                    <!-- FIRST NAME -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="FirstName" name="firstName" id="firstName" required>
                                    </div>

                                    <!-- LAST NAME -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="LastName" name="surname" id="surname" required>
                                    </div>


                                    <!-- USERNAME -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username" name="userName" id="userName" required>
                                    </div>


                                    <!-- PASSWORD -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Password" id="userPass" name="userPass" required>
                                    </div>

                                    <!-- CONFIRM PASSWORD
                                      -- Note: we only submit elements with a name tag. "confirmPassword" has
                                      -- no name tag and will not be submitted, it's just for validation.
                                      -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="ConfirmPassword" id="confirmPassword" required>
                                    </div>
                                </div>

                                

                                <!-- ADDRESS -->
                                <br />
                                <div class="col-4">
                                    <h2>Address Details</h2>
                                    <input type="text" class="form-control" placeholder="Address Line 1" id="addressLine1" name="addressLine1" required>
                                    <input type="text" class="form-control" placeholder="Address Line 2" id="addressLine2" name="addressLine2" required>
                                    <input type="text" class="form-control" placeholder="City" id="city" name="city" required>
                                    <input type="text" class="form-control" placeholder="County" id="county" name="district" required>
                                    <input type="text" class="form-control" placeholder="Eircode" id="postcode" name="postcode" required>

                                    <div hidden="true">
                                        <input class="form-check-input" type="radio" name="country" id="country" value="Ireland" checked> 
                                        <label class="form-check-label" for="flexRadioDefault4">
                                        Ireland
                                        </label>
                                    </div>
                                </div>
                                <br />


                                <!-- SELECT LOCATION 
                                <div th:if="${locations.empty}">
                                    <p> No locations Available! <p>
                                </div>
                                <div th:unless="${locations.empty}">
                                <div>
                                    <select name="location" id="location" class="form-control" th:field="*{locations}" required>
                                        <option th:each="item : ${locations}"
                                                th:value="${item.getIdAsString()}"
                                                th:text="${item.getLocationName()}">
                                        </option>
                                    </select>
                                </div>
                                -->

                                <!-- This is hardcoded for now but the names should be derived from the Locations -->
                                <div>
                                    <h3>Location</h3>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="location" id="location1" value="1" >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          SouthEast Ireland
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="location" id="location2" value="2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          Dublin
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="location" id="location3" value="3" checked>
                                        <label class="form-check-label" for="flexRadioDefault3">
                                          West Ireland
                                        </label>
                                    </div>
                                </div>

                                <!-- SUBMIT OR BACK TO LOGIN -->
                                <br />
                                <div class="row">
                                    <button class="btn btn-info btn-lg" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                
                
                <!-- COLUMN -->
                <div class="col-2" id="rightside"></div>
             
            </div> <!-- /row -->
         </div> <!-- /container -->
        
        
        
        <div th:insert="fragments :: footer"></div>
        <script src="js/register.js"> </script>
    </body>
</html>