<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments :: headers">
        <title>Search Results</title>
    </head>
    
    
    <body>
        <div class="container">
            <!-- NAVBAR -->
            <div th:replace="navbar :: navbar"></div>
            
            
            <div class="row">
                <!-- LEFT COLUMN -->
                <div th:replace="fragments :: leftcolumn"></div>
                
                
                <!-- CONTENT -->
                <h1> Search Results </h1>
                <!-- FOR -->
                <h2 th:with="driverName = ${driverName}"> for "[[${searchTerms}]]"</h2>
                
                
                <th:block th:switch="${userRole}">
                    
                    <!--/* SUPPLIER */-->
                    <div th:case="SUPPLIER">
                        <div class="col">
                            <h3 th:with="storeName = ${storeName}"> belonging to [[${storeName}]]</h3>
                            
                            <div th:each="subOrder : ${results}">
                                <div th:replace="fragments :: fulfilment-card"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /SUPPLIER -->
                    
                    
                    
                    
                    <!--/* DRIVER */-->
                    <div th:case="DRIVER">
                        <div class="col">
                            <h3 th:with="driverName = ${driverName}"> belonging to [[${driverName}]]</h3>
                            
                            <div th:each="order : ${results}">
                                <div th:replace="fragments :: delivery-card"></div>
                            </div>
                        </div> 
                    </div>
                    <!-- /DRIVER -->
                    
                    
                    
                    
                    <!--/* DEFAULT (i.e. CUSTOMER OR ANONYMOUS) */-->
                    <div th:case="*">
                        <div class="col" th:with="results = ${results}, location=${location}">
                            <h3 th:unless="${location} == none"> belonging to [[${location}]] </h3>
                            
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <th:block th:each="result : ${results}">
                                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                                        <div class="card mx-auto">
                                            <span> Name: [[${result.getProductName()}]] </span>
                                            <div th:with="id = ${result.getIdentifier()}">
                                                <img th:alt="${result.getProductName()}" class="img-card-top" th:src="${image_directory + result.getImage()}">  
                                                <br/>
                                                <br/>
                                                <h6 class="card-subtitle mb-2 text-muted" th:text="'From ' +${result.getSupplier().getStoreName()}"></h6>
                                                <p class="card-text" th:text="${result.getProductDescription()}"></p>
                                                <p><a class="btn btn-primary" th:href="'productpage?identifier='+${result.getIdentifier()}">See Details</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div> 
                    </div>
                    <!-- /CUSTOMER -->
                    
                    
                    
                    
                    
                    
                </th:block>
                
                <div th:if="${#lists.isEmpty(results)}">
                    <h4 class="warning-text">Found no results matching your query.</h4>
                </div>
                
                <!-- RIGHT COLUMN -->
                <div th:replace="fragments :: rightcolumn"></div>
            </div>
        </div>
        
        <!-- javascript -->
        <script src="/js/processing.js"></script>
        <div th:insert="fragments :: footer"></div>
    </body>
</html>
